ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
}

li a:hover {
  background-color: rgb(140, 140, 145);
}

.active {
  background-color: #4CAF50;
}

body {
  background-image: url("/home/wecode/Documents/moringa-school-projects/portfolio/pictures/photo.jpg");
  
}